@mixin icondiv {
  padding: 14px 12px 7px;
  background-color: #ccccccbd;
  border-radius: 50%;
  font-size: 19px;
  margin-bottom: 7px;
  transition: all 0.2s ease;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.678);

  &:hover {
    background-color: #eb6200;
    color: white;
  }
}

@mixin iconAnimation {
  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(40px);
      transform: translateX(40px);
    }
    100% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(40px);
      transform: translateX(40px);
    }
    100% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
  }
}

.productt {
  overflow: hidden;
  border-radius: 3px;
  transition: all 0.3s ease;
  position: relative;

  .productt_img {
    cursor: pointer;
    transition: all 0.3s ease;
    // width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .product_imgg {
    cursor: pointer;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    // add the image animatioin when hovering over the product
  }

  p {
    color: rgba(0, 0, 0, 0.192);
    font-size: 14px;
    padding: 10px 10px 0px;
  }

  .productt_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: black;
    cursor: pointer;
    margin-bottom: 13px;
    margin-top: 10px;
    padding: 0px 10px;

    transition: all 0.3s ease;
  }

  span {
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px 10px;
    color: #eb6200;
  }

  .product_icons {
    position: absolute;
    top: 17%;
    right: 5px;
    display: none;

    .heart {
      @include icondiv();
    }

    .cart {
      @include icondiv();
    }

    .eye {
      @include icondiv();
    }

    @include iconAnimation();
  }

  &:hover {
    .productt_title {
      color: #eb6200;
    }
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    // box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

    .product_icons {
      display: block;
      .heart {
        -webkit-animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
          both;
        animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }

      .cart {
        -webkit-animation: slide-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
          both;
        animation: slide-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }

      .eye {
        -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
          both;
        animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
    }
  }
}

.productt:hover .productt_img {
  // transform: scale(1.09);
  -webkit-animation: flip-vertical-right 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@media screen and (max-width: 767px) {
  .productt {
    .productt_img {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .product_imgg {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .productt_title {
      padding: 0px 10px;
    }

    span {
      padding: 0px 15px 15px;
    }
  }
}

@media screen and (max-width: 638px) {
  .productt {
    .productt_img {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .product_imgg {
      width: 90%;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .productt {
    .productt_img {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .product_imgg {
      width: 100%;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
