@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.top_text {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f1e6;

  span {
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.747);
  }
}
