.btn_group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-bottom: 20px;

  .btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0px 10px;
    font-weight: 600;
    transition: all 0.3s ease;
    font-size: 14px;
    color: black;

    &:hover {
      color: #eb6200;
    }
  }

  .btn_f {
    color: #eb6200;
  }

  .btn_t {
    color: #eb6200;
  }
  .btn_t {
    color: #eb6200;
  }
}

@media screen and (max-width: 576px) {
  .btn_group {
    margin-top: -10px;
    .btn {
      padding: 7px 13px;
      font-weight: 400;
    }
  }
}
