.blog_sec {
  .blog_sec_main {
    width: 100%;
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    // display: grid;
    // grid-template-columns: 49% 49%;
    // gap: 20px;
    // justify-content: space-between;
    // align-items: center;

    .blog_sec_slide {
      padding-bottom: 40px;
    }
  }
}
